<div class="frame overflow-hidden relative">
    <div class="maincontent">
      <div class="flip">
        <div class="front">
          <img src="https://100dayscss.com/codepen/bycicle.svg" alt="">
          <div class="strips">
            <div class="strip_1"></div>
            <div class="strip_2"></div>
            <div class="strip_3"></div>
            <div class="strip_4"></div>
            <div class="strip_5"></div>
            <div class="strip_6"></div>
            <div class="strip_7"></div>
            <div class="strip_8"></div>
            <div class="strip_9"></div>
            <div class="strip_10"></div>
            <div class="strip_11"></div>
            <div class="strip_12"></div>
            <div class="strip_13"></div>
            <div class="strip_14"></div>
          </div>
        </div>
        <div class="back">
          <img src="https://100dayscss.com/codepen/helicopter.svg" alt="" srcset="">
        </div>
      </div>
    </div>
  
  </div>
  