.frame{
    background: #4c4c4c;
}

p {
    font-family: "Open Sans", Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

.point {
    color: white;
    display: inline;
    position: absolute;
    font-size: 15px;
    line-height: 0;
    width: 0;
    overflow: visible;
    border-radius: 50%;
}

.point1 {
    left: 50%;
    top: 0;
}

.point2 {
    left: 96%;
    top: 48%;
}

.point3 {
    top: 95%;
    left: 50%;
}

.point4 {
    left: 3px;
    top: 50%;
}


@for $i from 1 through 17 {
    .point_#{$i} {
        transform: rotate(($i - 1) * 6.3deg);
    }
}

.spinner {
    position: absolute;
    width: 191px;
    height: 191px;

    circle {
        stroke: #F85B5B;
        stroke-width: 3;
        fill: none;
        stroke-dasharray: 625;
        animation: spinner 2s linear infinite;
        transform-origin: center center;
        transform: rotate(-90deg);
    }
}

@keyframes spinner {
    from {
        stroke-dashoffset: 625;
        transform: rotate(-90deg) scaleY(1);
    }

    50% {
        stroke-dashoffset: 0;    // No offset (fully visible)
        transform: rotate(-90deg) scaleY(1);
    }

    50.0001% {
        transform: rotate(-90deg) scaleY(-1);  // Flip direction
    }
    to {
        stroke-dashoffset: 625;  // Back to full offset
        transform: rotate(-90deg) scaleY(-1);
    }
}