<div class="frame overflow-hidden relative flex justify-center items-center">
    <div class="blob"></div>
    <div class="blobSpark"></div>
    <svg class="polygon">
      <polygon points="30,0 70,0 100,30 100,70 70,100 30,100 0,70 0,30" fill="white" />
    </svg>
    <svg class="triangle">
      <polygon points="53,0 106,90 0,90" fill="white" />
    </svg>
    <div class="oct_spark">
      <div class="spark s1"></div>
      <div class="spark s2"></div>
      <div class="spark s3"></div>
      <div class="spark s4"></div>
      <div class="spark s5"></div>
      <div class="spark s6"></div>
      <div class="spark s7"></div>
      <div class="spark s8"></div>
    </div>
    <div class="triangle_spark">
      <div class="spark s1"></div>
      <div class="spark s2"></div>
      <div class="spark s3"></div>
    </div>
  </div>