<div class="frameplay overflow-hidden">
    <div
        class="top-[100px] left-[100px] absolute w-[210px] h-[210px] bg-[#242424] rounded-[50%] border-(#3a3a3a) border-[6px] p-1">
        <div class="w-full h-full rounded-[50%] border-[#d7605d] border-[3px] p-1">
            <div class="w-full h-full rounded-[50%] border-[#fff] flex relative justify-center flex-col items-center">
            <p class="text-[#fff] text-[12px] font-light">
                {{dateFormat}}
            </p>
            <p>

            <p class="text-[#fff] text-[37px]/[1.1] font-bold">
            {{timeFormat}}
            </p>
            <div class="flex justify-between w-[90px]">

            <p class="text-[#fff] text-[10px]/[2]">
               <span style="color: red;">❤</span>  81
            </p>
            <p class="text-[#fff] text-[10px]/[2]">
                1248KCAL
            </p>
        </div>

        </div>
    </div>
</div>
</div>