.frameplay{ 
    background: #192237;
}

.moon{ 
    box-shadow: 0 0 10px 0 #F6EDBD;
    animation: rise 1s ease-in-out 0.2s 1;
}

.land1{ 
    width: 60%;
    height: 190px;
    background-color: #263250;
    border-radius: 100%;
    transform: rotate(-3deg);
    position: absolute;
}

.land2{ 
    position: absolute;
    width: 60%;
    right: -20%;
    height: 190px;
    background-color: #263250;
    border-radius: 100%;
    transform: rotate(-3deg);
}

.back_land{ 
    position: relative;
    top: 65%;
    left: -5%;
}


.front_land{ 
    position: relative;
    top: 75%;
    left: -5%;
}

.land3{ 
    position: absolute;
    width: 60%;
    left: -10%;
    height: 190px;
    border-radius: 100%;
    transform: rotate(-3deg);
    background: #2f3d5d;
}

.land4{ 
    position: absolute;
    width: 70%;
    left: 30%;
    height: 190px;
    border-radius: 100%;
    background: #2f3d5d;
}

.land5{ 
    position: absolute;
    width: 40%;
    right: -30%;
    height: 190px;
    border-radius: 100%;
    background: #2f3d5d;
}

@for $i from 1 through 30 {
    // $randomleft : 200;
    $randomleft : random(400);

    .drop_#{$i} {
        position: absolute;
        width: (12-((50 - $i)/10))+px;
        height: (12-((50 - $i)/10))+px;
        border-radius: 50px;
        
        @if $i>10 {
        opacity:  0.5;
        }
        background: rgb(0, 213, 255);
        top: -20px;
        left: $randomleft+px;
        animation: dropping_+$i 1.5s ease-in-out ($i/10)+s infinite;
    }

    @keyframes dropping_#{$i} {
        0%{
            top: -20px;
        }
    
        100% {
            top: 100%;
            left: ($randomleft - 50)+px;
        }
    }
}
@keyframes rise {
    0%{
        top: 300px;
        left:20px
    }

    100% {
        top: 40px;
        left:40px
    }
}

