<div class="frame">
    <div class="center">
        <div class="profile">
            <div class="intro">
                <div class="profile_img">
                    <div class="circle c-1">
                        <div class="circle c-2">
                            <img src="https://media.licdn.com/dms/image/v2/D5603AQGMl-gAN3_Q6w/profile-displayphoto-shrink_400_400/profile-displayphoto-shrink_400_400/0/1692200022825?e=1746057600&v=beta&t=O4sEIGTMM4p3gFJXuQ7cWSXKpjezPKThtUEEkRbvmwc" width="70" height="70" alt="">
                        </div>
                    </div>

                </div>
                <div class="desc">
                    <span class="name">Sai Rama</span>
                    <span class="type">Hacker</span>
                </div>
                <div class="actions">
                    <button>Follow</button>
                    <button>Message</button>
                </div>
            </div>
            <div class="counts">
                <div class="count">
                    <span class="number">523</span>
                    <span class="type">Posts</span>
                </div>
                <div class="count">
                    <span class="number">1387</span>
                    <span class="type">Likes</span>
                </div>
                <div class="count">
                    <span class="number">146</span>
                    <span class="type">Follower</span>
                </div>
            </div>

        </div>

    </div>
</div>