.frame {
    background: black;
    filter: contrast(30);
}


.ball {
    width: 90px;
    height: 90px;
    background: #fff;
    border-radius: 50%;
    filter: blur(15px);
    position: absolute;
    top: 40%;
    left: 40%;
}

@for $i from 1 through 8 {
    .bubble_#{$i} {
        position: absolute;
        width: 50px;
        height: 50px;
        top: 45%;
        left: 45%;
        &::after {
            display: block;
            content: '';
            width: 50px;
            height: 50px;
            background: #fff;
            border-radius: 50%;
            transform-origin: (40 - $i * 3)+px (40 - $i * 3)+px;
            animation: rotate (2.5 + $i/5)+s ease-in-out ($i/5)+s infinite;
            filter: blur(5px);
        }
    }
}

@for $i from 1 through 10{ 
    .sparkle_#{$i}{ 
        position: absolute;
        width: 10px;
        height: 10px;
        top: 45%;
        left: 45%;
        transform: rotate( (random(300)) + deg);
        &::after {
            display: block;
            content: '';
            width: (7 + 5*$i)+px;
            height:  (7 + 5*$i)+px;
            background: #fff;
            border-radius: 50%;
            transform-origin: (60 - $i * 2)+px (60 - $i * 2)+px;
            animation: rotate (3.5 + $i/5)+s ease-in-out ($i/5)+s infinite;
            filter: blur(3px + 1.6* $i);
        }
    }
}

@keyframes rotate {
    from {
        transform: rotate(0deg) translate3d(0, 0, 0);
    }

    to {
        transform: rotate(360deg) translate3d(0, 0, 0);
    }
}