.frame {
    background: white;
}

.holder {
    gap: 1px;
    justify-content: space-around;
    align-items: center;


    .img {
        max-width: 49%;
        border-radius: 2px;
        position: relative;
        overflow: hidden;

        &:hover {
            .overlay {
                opacity: 1;
            &::after {
                transform: translate(-50%, -50%) scaleY(1)  scaleX(1);
            }
            }
        }

        .overlay {
            width: 100%;
            height: 100%;
            position: absolute;
            content: "";
            background: #5e5b5b94;
            top: 0;
            opacity: 0;
            transition: opacity 0.5s ;

            &::after {
                transition: all 0.5s ;
                content: "+";
                cursor: pointer;
                width: 50px;
                height: 50px;
                background: #ed6564;
                border-radius: 50%;
                position: absolute;
                z-index: 1;
                top: 50%;
                left: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                transform: translate(-50%, -50%) scaleY(2) scaleX(2);
                z-index: 1;
                font-size: 37px;
            }
        }
    }
}

.upperflap {
    position: absolute;
    background-image: url('https://100dayscss.com/codepen/13-1-header.jpg');
    width: 100%;
    height: 50%;
    z-index: 1;
    transition: top 1s;
    top: -50%;
    background-size: cover;
}

.upperani {
    top: 0;
}

.lowerflap {
    position: absolute;
    background-color: #ed6564;
    width: 100%;
    height: 50%;
    transition: bottom 1s;
    z-index: 1;
    bottom: -50%;
}

.lowerani {
    bottom: 0;
}

.profileimg {
    border-radius: 50%;
    position: absolute;
    background-color: white;
    padding: 2px;
    top: -15%;
    z-index: 2;
    width: 100px;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: top 0.7s ease-in;
    transition-delay: 0.2s;

    img {
        border-radius: 50%;
    }
}


.profileani {
    top: 50%
}

.action {
    border: 1px solid white;
    border-radius: 50%;
    width: 40px;
    cursor: pointer;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    ::ng-deep svg {
        color: white !important;
    }

    &:hover {
        background: white;

        ::ng-deep svg {
            color: #ed6564 !important;
        }
    }
}

.closeimg {
    position: absolute;
    top: -40px;
    transition: top 0.5s ease-in;
    transition-delay: 0.5s;
    z-index: 2;
    border: none;
    right: 20px;
    background-color: #ed6564;

    &:hover {
        background-color: white;
        ::ng-deep svg {
            color: #ed6564 !important;
        }
    }
}

.closeani {
    top: 30px;
}